.movies .movie{
    width: 47%;
    background-color: white;
    margin-bottom: 70px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-weight: 200;
    padding: 18px;
    border-radius: 5px;
    box-shadow: 0 30px 60px -12px rgba(50,50,93,0.25),
    0 18px 36px -18px rgba(0,0,0,0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}
.movies .movie a{
    display: grid;
    grid-template-columns: minmax(150px,1fr) 2fr;
    text-decoration: none;
    color: inherit;
}
.movie img{
    position: relative;
    top: -50px;
    max-width: 200px;
    margin-right: 30px;
    box-shadow: 0 30px 60px -12px rgba(50,50,93,0.25),
    0 18px 36px -18px rgba(0,0,0,0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}

.movie .movie_title,
.movie .movie_year{
    margin: 0;
    font-weight: 300;
}

.movie .movie_title{
    margin-bottom: 3px;
    font-size: 24px;
    color: black;

}

.movie .movie__genres{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0px;
    color: darkgray;
    font-weight: 100;
}

.movie__genres li,
.movie .movie_year{
    margin-right: 10px;
    font-size: 12px;
}

.movies .movie__summary{
    color: black;

}